/* =================
VARIABLES #TODO: odpowiednio przeskalować, tak aby nie wylewał się obraz poza ekran
==================*/
$font:'Lato', sans-serif;
$grey:#FAFAFA;
$white:#FFFFFF;
$action-color:#8C00FF;
$black: #000000;
$red: #FC7171;
$dark-grey: #cececeb2;

$top-bar-height: 75px;
$bottom-bar-height: 50px;
*{
    color: $black;
    input:focus{
      outline: none;
      text-decoration: none;
      .Bottom-header{
        background-color: #000000;
      }
    }
    button:focus{
      outline: none;
    }
    button{
        background-position: center;
    }
    a:hover {
        background: $white radial-gradient(circle, transparent 1%, $white 1%) center/15000%;
    }
    a:active {
        background-color: $action-color;
        background-size: 100%;
        transition: background 0s;
    }
    a{
        transition: background .6s;
    }
    textarea:focus{
      outline: none;
    }
  }

/* =================
TYPOGRAPHY
==================*/
$secondaryText: 12px;
.view-header {
    align-self: flex-start;
    margin: 10px;
    // margin: clamp(25px, 1.2em, 60px);
}
.bold-header {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
/* =================
GLOBALS & UTILITIES
(ie. centering a div)
==================*/

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}
@mixin genericShadow() {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
@mixin actionTheme() {
    color: $white;
    background-color: $action-color;
}
.main {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: $black;
    background-color: $white;
  }
.wrapper {
    @include flexCenter(column);
}

@mixin fitInput {
    width: 80%;

}

.center-content {
    @include flexCenter(column)

}
.viewport-center-content {
    @include flexCenter(column);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #424242b2;

}


/* =================
VIEWS
==================*/
@mixin view {
    @include flexCenter(column);
}
.Login-view {
    @include view;
    height: 100vh;
    .view-header{
        margin-bottom: 6vh;
    }
    .content-container{
        min-height: 30%;
        min-width: 20em;
    }
    .input-form-line{
        @include genericShadow();
        margin-bottom: 2em;
        width: 60vw;
        display: inline-flex;
        input{
            border: none;
            margin-bottom: 10px
        }
        img{
            margin-bottom: 10px
        }
        .fbLogo{
            width: 10%
        }
    }
}
.Match-view {
    @include view;

    height: calc(100vh - $top-bar-height);
}
.Searching-view {
    text-align: center;
    @include view;
    height: 100vh;
}
.Create-circle-view {
    // @include flexCenter(column);
    .form{
        @include flexCenter(column);
    }
    @include view;
    height: 100vh;
}
.Chat-view {
    @include view;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.Chat-end-view {
    @include view;
    justify-content: space-between;
    height: 100vh;
}
.scanner {
    padding-top: 0;
    background-color: $grey;
    min-height: 22em;
    min-width: 20em;
}
.footer {
    @include flexCenter(row);
    width: 64vw;
    font-size: $secondaryText;
    // bottom: 0px;
    p{
        font-size: 1.3em;
        margin-right: 1em;
    }
    .link-button{
        color: $action-color;
        margin-right: 1em;
    }
}
/* =================
TOP BAR & BOTTOM BAR
==================*/
.top-bar {
    @include flexCenter(row);
    justify-content: space-between;
    width: 100%;
    height: $top-bar-height;
    padding-left: 1em;
    padding-right: 1em;
    .homeLogo{
        min-width: 1.8em;
        margin-left: 3vw;
    }
    img{
        margin-right: 3vw;
        height: 40%;
    }

}
.top-chat-bar {
    @include flexCenter(row);
    z-index: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: $top-bar-height;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
    button{
        text-align: center;
        width: 8em;
        margin-bottom: 1em;
    }
}
input:checked + .bottom-bar{
    margin-bottom: 0 !important;
    transition: .7s;
    .flipped-arrow{
      transform: rotate(360deg);
      transition: .5s;
    }
}
.burger{
    display: none;
  }
.bottom-bar {
    @include flexCenter(column);
    @include genericShadow();
    background-color: $white;
    min-height: $bottom-bar-height;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-between;
    width: 100vw;
    min-height: 23em;
    max-height: 23em;
    position: fixed;
    display: flex;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    text-decoration: none;
    transition: 0.7s;
    margin-bottom: -20em;
    img{
        z-index: 99;
        transition: .5s;
        transform: rotate(180deg);
      }
      input{
        display: none;
    }
}
.bottom-bar-list {
    @include flexCenter(column);
    gap: 0.2rem;
    padding: 0.5rem;
    margin-bottom:3em;
}
.nav-item {
    text-align: center;
    @include genericShadow();
    border-radius: 23px;
    width: 12em;
    margin-top: 1em;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3vw;
}
/* =================
BOXES & CONTAINERS
==================*/

.content-container {
    @include flexCenter(column);
    min-height: 10em;
    width: clamp(120px, 60vw, 350px);
    // border: 1px solid black;
    border-radius: 20px;
    padding: 1em;
    span{
        margin: 0.5em 0;
    }
}

.content-area {
    @include flexCenter(column);
    width: clamp(120px, 60vw, 350px);
    // border: 1px solid black;
    // @include genericShadow();
    // border-radius: 20px;
    text-align: center;
    padding: .5em;
    margin: 1em 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.searching-button-panel {
    @include flexCenter(column);
    width: clamp(120px, 60vw, 350px);
}
.choice-button-container {
    @include flexCenter(row);
    gap: 1em;
    width: clamp(120px, 60vw, 350px);
}


.circles-container {
    @include flexCenter(column);
    overflow: auto;
    border-radius: 10px;
    // width: clamp(120px, 60vw, 500px);
}
.chat-body {
    display: flex;
    flex-direction: column;
    // max-height: calc(100vh - $bottom-bar-height - $top-bar-height);
    // position: absolute;
    // bottom: $bottom-bar-height;
    // position: absolute;
    // margin-bottom: calc($bottom-bar-height;
    overflow-y: auto;
    margin-bottom: calc($bottom-bar-height);
    width: clamp(120px, 90vw, 500px);
}
/* =================
FORMS
==================*/
.input-chat {
    @include flexCenter(row);
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $action-color;
    margin-bottom: 0em;
    border-radius: 1em 1em 0 0;
    height: 3em;
    width: 100vw;
    input {
        border: none;
        min-width: 19em;
        height: 2em;
        border-radius: 20px;
    }
    button{
        background: $white;
        border: none;
        height: 2em;
        margin-left: -1.5em;
        border-radius: 8px;
        z-index: 3;
    }
    .send-message{
        @include genericShadow();
        width: 17em;
        border-radius: 20px;
        background-color:$white;
    }
    .iceBraker{
        margin-top: 0.3em;
        height: 3em;
    }
    .xLogo{
        margin-top: 0.3em;
        margin-left: 0.5em;
    }
}
.messages-array{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:scroll;
}
.input-form {
    @include flexCenter(column);

}
.send-message {
    width: 100%;
    @include flexCenter(row)
}
.input-form-line {
    padding-top: 0.5rem;
    @include flexCenter(row);
    // justify-content: space-;
    max-height: 2em;
    max-width: 18em;
    min-width: 5em;
    input {
        @include fitInput();
        margin-left: clamp(0.2rem, 0.5rem, 0.5rem);
    }
}
.join-circle-input-form-line{
    width: 80%;
    justify-content: center;
    @include flexCenter(row);
    @include genericShadow();
    margin-bottom: 1em;
    border: none;
    border-radius: 40px;
    background-color: $white;
}
.join-circle-input{
        font-family: $font;
        font-size: 17px;
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
        width: 74%;
        border: none;
        margin-left: 2em;
        padding: 0.5em;
    }

.codeInput{
    display: flex;
    justify-content: center;
}

.consent-container {
    @include flexCenter(row);
    gap: 1em;
    max-width: 80%;
}
.consent-text {
    text-align: center;
}
// .consent-checkbox {
//     text-align: end;
// }
/* =================
BUTTONS
==================*/
@mixin action-button {
    @include genericShadow();
    @include actionTheme();
    margin-top: 1rem;
    padding: 0.6em;
    border: none;
    border-radius: 30px;
    background-color: $white;
    color: $black;
    border: solid 1px $action-color;
}
.login-action-button {
    @include action-button();
    align-self: flex-end;
    margin: 1em;
    // margin-top: -1em;
}
.chat-action-button {
    @include action-button();
    padding: 1.2rem;
    font-size: 30px;
    max-width: 60em;
    min-width: 6em;
    max-height: 2.2em;
    transition: background 0.10s;
    // align-self: flex-end;
}
.join-circle-button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transform: rotate(180deg);
    border: none;
    height: 100%;
    padding-left: .3em;
    img{
        width: 80%;
    }
}
.show-bottombar-button {
    @include action-button();
    border-radius: 30px;
}
.searching-button {
    @include action-button();
    margin-top: 0.6rem;
    border-radius: 30px;
    min-width: 10em;
    font-size: 18px;
}
.leave-circle-button {
    @include action-button();
    width: 10em;
}
.action-button {
    @include action-button();
}
/* =================
POP-UPS & INFO CLOUDS
==================*/
.info-cloud {
    @include flexCenter(column);
    padding: 1em;
    width: calc(100% - 1em);
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 2;
    border-radius: 5px;

    background-color: lightgreen;
    opacity: 95%;
    font-size: 1.4em;
}
.user-profile {
    @include flexCenter(column);
    // position: absolute;
    // top: 0.5em;
    // left: 0.5em;
    // z-index: 3;
    border-radius: 20px;
    height:23em;
    width: clamp(120px, 82vw, 500px);
    background-color: $grey;
    // opacity: 100%;
    // opacity: 60%;
    .profile-username{
        font-size: 25px;
    }
    button{
        font-size: 18px;
        min-width: 10em;
    }
}
.pop-up-base {
    text-align: center;
    @include flexCenter(column);
    border-radius: 20px;
    background-color: $grey;
    min-height: 40em;
    width: 15em;
    min-height: 10em;
    max-height: 50em;
    button{
        width: 8em;
    }
    padding: 2em;
}
.reavel{
    margin-top: -3em;
}
.pop-up-container {
    @include flexCenter(column);
}
/* =================
ICONS & IMAGES
==================*/
@mixin flippedImage{
    transform: rotateX(180deg);
}
@mixin panelArrow {
    margin-top: 0.7em;
}
.flipped-arrow{
    @include flippedImage();
    @include panelArrow();
}
.normal-arrow{
    @include panelArrow();
}
.profile-avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.chat-icon {
    // height: clamp(5vw, 20px, 40px);
    // width: clamp(5vw, 20px, 40px);
    min-height: 1em;
    max-height: 4em;
}
/* =================
MESSAGES
==================*/
@mixin message {
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0.6em;
    padding: 0.4em;
    width: fit-content;
    max-width: 70%;

}

.message-body{
    // @include message;
    display: flex;
    // min-width: 23em;
    flex-direction: row;
    justify-content: flex-end
}
.message-body-my{
    // @include message;
    display: flex;
    width: 100%;
    // min-width: 23em;
    flex-direction: row;
    justify-content: flex-end
}
.message-body-enemy{
    width: 100%;
    // @include message;
    display: flex;
    // bottom: 100;
    // min-width: 21em;
    flex-direction: row;

}
.enemy-message{
    @include message;
    word-wrap: break-word;
    background-color: $dark-grey;
    border-top-left-radius: 0px;
}
.my-message{
    @include message;
    word-wrap: break-word;
    color: $white;
    border-top-right-radius: 0px;
    background-color: $action-color;
    justify-self: flex-end;
}
/* =================
ANIMATIONS
==================*/
@keyframes spin {

    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

  }
.elipse {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

//Login error anmation
.loginError{
    animation: color-change 1.5s,shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    img{
      animation: color-change 1.5s;
    }
    input{
      color: #FFFFFF;
      animation: color-change 1.5s;
    }

    ::placeholder{
      color: $white;
    }
  }

@keyframes color-change {
    0% { background-color: $white;}
    50% { background-color: $red;}
    100% { background-color: $white;}
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
